body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3dfbf8e;
}

.profile-content {
    padding-top: 50px;
}

.dog-image img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dog-name {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.dog-details {
    font-size: 1rem;
    color: #555;
}

.btn-adopt {
    background-color: #FF823A;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.9rem;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-adopt:hover {
    background-color: #e04e39;
}

.personality {
    text-align: center;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.personality h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.personality p {
    font-size: 1rem;
    color: #666;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: #ffffff; /* or your desired color */
    padding: 10px 2%;
}

main {
    padding-top: 100px; /* Adjust to the height of your header */
}


.profile-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.dog-image, .dog-details, .personality {
    margin-bottom: 20px;
}