
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Miniver&family=Modak&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Miniver&family=Modak&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}

html{
  overflow-x: hidden;
}


section{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


 /* Section 1 */

.one .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
}


.one .text{
  margin-left: 5vw;
  margin-top: 12vh;
}

.one .text .title{
  font-size: 400%;
  color: var(--define-color);
  font-family: "Modak", system-ui;
}

.one .text .subtitle{
  max-width: 70%;
  margin: 24px 0 40px;
  font-size: 200%;
  font-family: "Happy Monkey", system-ui;
}

.one .text .description{
  width: 63%;
  font-family: "Happy Monkey", system-ui;
  font-size: 17px;
}


.one .click1{
  display: inline-block;
  font-size: 16px; /* Adjust font size as needed */
  font-family: "Happy Monkey", system-ui;
  transform: rotate(-30deg); /* Rotates the text */
  position: relative;
  right: 20vh;
  top: 12vh
}

.one .click2{
  display: inline-block;
  font-size: 16px; /* Adjust font size as needed */
  font-family: "Happy Monkey", system-ui;
  transform: rotate(25deg); /* Rotates the text */
  position: relative;
  right: 10vh;
  bottom: 15vh
}

.one .click3{
  display: inline-block;
  font-size: 16px; /* Adjust font size as needed */
  font-family: "Happy Monkey", system-ui;
  transform: rotate(-35deg); /* Rotates the text */
  position: relative;
  left: 15vh;
  bottom: 2vh;
}

.quiz-button {
  position: relative;
  right: 10vh;
  width: 40%;
  margin-top: 10vh;
  margin-right: 0vh;
}

.image-button {
  display: inline-block;
  position: relative;
  width: 60vh; /* Adjust the width as needed */
  height: 36.5vh; /* Adjust the height as needed */
  background-image: url('sausagebutton1.jpg'); /* Replace with the path to your image */
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  outline: none;
}

.image-button:hover {
  transform: translateY(-10px); /* Moves the button up */
}

.image-button span {
  position: absolute;
  top: 68%;
  left: 55%;
  transform: translate(-50%, -50%); /* Centers the text */
  font-size: 4vh; /* Adjust the font size as needed */
  font-weight: bold;
  color: white; /* Adjust color based on image contrast */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional shadow for better contrast */
}

/* Section 2 */

#map {
  width: 70%;
  height: 50%;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 200px;
  margin: 40px;
  position: relative;
  left: 9vw;
}

.pin_text {
  background: white; 
  padding: 5px; 
  border: 1px solid black; 
  border-radius: 5px; 
  display: none;
}

.pin_text.show {
  display: block; /* Show when .show class is added */
}

.two {
  display: flex;
  justify-content: space-between;
  align-items: right;
}

/* Aligning text content vertically to the center */
.two .text {
  text-align: right;
  align-items: right;
  display: flex;
  flex-direction: column;
  margin-right: 15vw; 
}

.two .title, .two .subtitle, .two .description {
  text-align: right;
}

.two .title{
  font-size: 400%;
  color: var(--secondary-color);
  font-family: "Modak", system-ui;
}

.two .subtitle{
  font-size: 200%;
  font-family: "Happy Monkey", system-ui;
}

.two .description{
  width: 75%;
  margin-left: 11vw;
  font-family: "Happy Monkey", system-ui;
  font-size: 17px;
}


/* Section 3 */

.three .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.button-square {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1vw;
  padding-bottom: 3vh;
  width: 60vh;
  height: 55vh;
  margin: 0 5vh;
  color: black;
  font-weight: bold;
  font-size: 1.7em; /* Adjust font size as needed */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  position: relative;
  background-image: url('DOG_HOUSE.png'); 
}
.button-square:hover{
  transform: translateY(-10px);
}

/* Section 4 */
.four_text{
  /*margin: 0 auto;*/
  position: relative;
  left: 12vw;
  top: 17vh;
  font-family: "Nunito", sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.four {
  position: relative;
  padding-bottom: 20px; /* Adds space between the swiper and pagination */
}

.swiper-pagination {
  position: absolute;
  margin-bottom: 15vh; /* Add spacing if needed */
  text-align: center; /* Center the pagination */
}

.swiper {
  width: 75%;
  height: 50%;
  position: relative;
  
}

.swiper-slide {
  text-align: center; 
  display: flex;
  justify-content: center;
  align-items: center;
}


